.container{
	width: 100%;
    padding: 50% 2%;
    background-color: rgb(9, 108, 255);
    border:1px solid rgba(255, 0, 0, 0);
    height: 1080;
    width: 100% ;

    display: flex; 
    justify-content: center;
    align-items: center;

}
     
