<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2 ">
            <div class="col-sm-6">
                <h1 class="m-0  mb-3">Cortecias</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Productos</li>
                </ol>
            </div><!-- /.col -->
            <!-- Main content -->

            <!-- /Main content -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <main id="items" class="col-sm-8 row"></main>
            <!-- Elementos generados a partir del JSON -->
            <!-- Carrito -->
            <aside class="col-sm-4">
                <h2>Carrito</h2>
                <!-- Elementos del carrito -->
                <ul id="carrito" class="list-group"></ul>
                <hr>
                <!-- Precio total -->
                <p class="text-right">Total: $<span id="total"></span></p>
                <button id="boton-vaciar" class="btn btn-danger">Vaciar</button>
                <button id="boton-aceptar" onclick="aceptarCarrito()" class="btn btn-success">Aceptar</button>
            </aside>

        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        
        var datos = '{{productos}}';
        baseDeDatos = JSON.parse(datos.replace(/&#34;/g, '"'));
        let $items = document.querySelector('#items');
        let carrito = [];
        let total = 0;
        let $carrito = document.querySelector('#carrito');
        let $total = document.querySelector('#total');
        let $botonVaciar = document.querySelector('#boton-vaciar');
        let $botonAceptar = document.querySelector('#boton-aceptar');


        // Funciones
        function renderItems() {
            
            for (let info of baseDeDatos) {
                // Estructura
                let miNodo = document.createElement('div');
                miNodo.classList.add('card', 'col-sm-4');
                // Body
                let miNodoCardBody = document.createElement('div');
                miNodoCardBody.classList.add('card-body');
                // Titulo
                let miNodoTitle = document.createElement('h5');
                miNodoTitle.classList.add('card-title');
                miNodoTitle.textContent = info['nombreProducto'];
                // Precio
                let miNodoPrecio = document.createElement('p');
                miNodoPrecio.classList.add('card-text');
                miNodoPrecio.textContent = '$' + info['precioProducto'];
                // Boton 
                let miNodoBoton = document.createElement('button');
                miNodoBoton.classList.add('btn', 'btn-primary');
                miNodoBoton.textContent = '+';
                miNodoBoton.setAttribute('marcador', info['idProducto']);
                miNodoBoton.addEventListener('click', anyadirCarrito);
                // Insertamos
                miNodoCardBody.appendChild(miNodoTitle);
                miNodoCardBody.appendChild(miNodoPrecio);
                miNodoCardBody.appendChild(miNodoBoton);
                miNodo.appendChild(miNodoCardBody);
                $items.appendChild(miNodo);
            }
        }

        function anyadirCarrito() {
            
            // Anyadimos el Nodo a nuestro carrito
            carrito.push(this.getAttribute('marcador'))
            // Calculo el total
            calcularTotal();
            // Renderizamos el carrito 
            renderizarCarrito();
        }

        function renderizarCarrito() {
            
            // Vaciamos todo el html
            $carrito.textContent = '';
            // Quitamos los duplicados
            let carritoSinDuplicados = [...new Set(carrito)];
            // Generamos los Nodos a partir de carrito

            carritoSinDuplicados.forEach(function (item, indice) {
                

                // Obtenemos el item que necesitamos de la variable base de datos
                let miItem = baseDeDatos.filter(function (itemBaseDatos) {

                    return itemBaseDatos['idProducto'] == item;
                });
                // Cuenta el número de veces que se repite el producto
                let numeroUnidadesItem = carrito.reduce(function (total,
                    itemId) {
                    return itemId === item ? total += 1 : total;
                }, 0);
                // Creamos el nodo del item del carrito
                let miNodo = document.createElement('li');
                miNodo.classList.add('list-group-item', 'text-right',
                    'mx-2');
                miNodo.textContent =
                    `${numeroUnidadesItem} x ${miItem[0]['nombreProducto']} - $${0}`;
                // Boton de borrar
                let miBoton = document.createElement('button');
                miBoton.classList.add('btn', 'btn-danger', 'mx-5');
                miBoton.textContent = 'X';
                miBoton.style.marginLeft = '1rem';
                miBoton.setAttribute('item', item);
                miBoton.addEventListener('click', borrarItemCarrito);
                // Mezclamos nodos
                miNodo.appendChild(miBoton);
                $carrito.appendChild(miNodo);
            });
        }

        function borrarItemCarrito() {
            
            // Obtenemos el producto ID que hay en el boton pulsado
            let id = this.getAttribute('item');
            // Borramos todos los productos
            carrito = carrito.filter(function (carritoId) {
                return carritoId !== id;
            });
            // volvemos a renderizar
            renderizarCarrito();
            // Calculamos de nuevo el precio
            calcularTotal();
        }

        function calcularTotal() {
            
            // Limpiamos precio anterior
            total = 0;
            // Recorremos el array del carrito
            for (let item of carrito) {
                // De cada elemento obtenemos su precio
                let miItem = baseDeDatos.filter(function (itemBaseDatos) {
                    return itemBaseDatos['idProducto'] == item;
                });
                total = 0;
            }
            // Formateamos el total para que solo tenga dos decimales
            let totalDosDecimales = total.toFixed(2);
            // Renderizamos el precio en el HTML
            $total.textContent = totalDosDecimales;
        }

        function vaciarCarrito() {
            
            // Limpiamos los productos guardados
            carrito = [];
            // Renderizamos los cambios
            renderizarCarrito();
            calcularTotal();
        }

        function aceptarCarrito() {
            
            productos = JSON.stringify(carrito)
            totalVenta = total
            $.ajax({
                data: {
                    productos,
                    totalVenta
                },
                type: 'POST',
                url: '/facturaProducto',
                success: function (response) {
                    carrito = [];
                    // Renderizamos los cambios
                    renderizarCarrito();
                    calcularTotal();
                }
            })


        }

        // Eventos
        $botonVaciar.addEventListener('click', vaciarCarrito);
        $botonAceptar.addEventListener('click', aceptarCarrito);


        renderItems();
    });
    // Variables
</script>

<!-- /.content -->
<script src="{{url_for('static', filename ='js/ventaProductos.js')}}"></script>