<script>
    $(document).ready(function () {
        debugger;
        var table = $('#myTable7').DataTable({
            responsive:true,
            "language":espanol,
            "info" : false,
            dom: 'Bfrtip',
            buttons: [
                { extend: 'excelHtml5', footer: true,
                exportOptions: {
                    modifier: {
                    page: 'all',
                    search: 'none'   
                    }
                }
                },
                { extend: 'csvHtml5', footer: true,
                exportOptions: {
                    modifier: {
                    page: 'all',
                    search: 'none'   
                    }
                }
                },
                { extend: 'pdfHtml5', footer: true,
                exportOptions: {
                    modifier: {
                    page: 'all',
                    search: 'none'   
                    }
                }
                }
            ]               

        });

        $('input[type="search"]').on('keyup', function () {});
    });

    var espanol = {
        "sProcessing": "Procesando...",
        "sLengthMenu": "Mostrar _MENU_ registros",
        "sZeroRecords": "No se encontraron resultados",
        "sEmptyTable": "Ningún dato disponible en esta tabla",
        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
        "sInfoPostFix": "",
        "sSearch": "Buscar:",
        "sUrl": "",
        "sInfoThousands": ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
            "sFirst": "Primero",
            "sLast": "Último",
            "sNext": "Siguiente",
            "sPrevious": "Anterior"
        },
        "oAria": {
            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        },
        "buttons": {
            "copy": "Copiar",
            "colvis": "Visibilidad"
        }
    }
</script>
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2 ">
            <div class="col-sm-6">
                <h1 class="m-0  mb-3">Ingresos</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Ingresos</li>
                </ol>
            </div><!-- /.col -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        {% for producto in productos %}
                        
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<div class="content-body">
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="container ">
                    <div style="text-align: right;">&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" id="agregarProducto" class="btn btn-primary"><i class="nav-icon fas fa-plus"></i></a></div>
                    <div style="padding: 10px;">
                        <table class="table table-striped table-bordered nowrap" width="100%" id="myTable7">
                            <thead>
                                <tr>
                                    <th>Id Factura</th>
                                    <th>Total Factura</th>
                                    <th>Responsable</th>
                                    <th>Fecha de Ingreso</th>
                                    <th>Estado</th>
                                    <th>Detalles</th>
                                    

                                </tr>
                            </thead>
                            <tbody>
                                {% for factura in facturas %}
                                <tr>
                                    <th>{{factura.0}}</th>
                                    <th>{{factura.1}}</th>
                                    <th>{{factura.3}}</th>
                                    <th>{{factura.2}}</th>
                                    {% if factura.4 == 1 %}
                                    <th>Activa</th>
                                    {% elif factura.4 == 2 %}
                                    <th>Esperando a terminar el mes</th>
                                    {% elif factura.4 == 3 %}
                                    <th>Desactivada</th>
                                    {% endif %}	
                                    <th>
                                        <button  id="detallesProducto{{factura.0}}"  type="submit" class="btn btn-secondary btn-sm  ">
                                            <i class="fas fa-info-circle"></i>
                                        </button>
                                    </th>
                                </tr>
                                <script>
                                    $(document).ready(function () {
                                        $("#detallesProducto{{factura.0}}").click(function () {
                                            debugger
                                            $("#contenido").load("/detallesProducto/{{factura.0}}");
                                        });
                                    });
                                </script>

                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- /.container-fluid -->
</div>