<script>
    $(document).ready(function () {
        ;
        var table = $('#myTable7').DataTable({
            responsive: true,
            "language": espanol,
            "info": false,
            "order": [[ 1, "desc" ]],
            dom: 'Bfrtip',
            buttons: [{
                    extend: 'excelHtml5',
                    footer: true,
                    exportOptions: {
                        modifier: {
                            page: 'all',
                            search: 'none'
                        }
                    }
                },
                {
                    extend: 'csvHtml5',
                    footer: true,
                    exportOptions: {
                        modifier: {
                            page: 'all',
                            search: 'none'
                        }
                    }
                },
                {
                    extend: 'pdfHtml5',
                    footer: true,
                    exportOptions: {
                        modifier: {
                            page: 'all',
                            search: 'none'
                        }
                    }
                }
            ]

        });


        $('input[type="search"]').on('keyup', function () {});
    });

    var espanol = {
        "sProcessing": "Procesando...",
        "sLengthMenu": "Mostrar _MENU_ registros",
        "sZeroRecords": "No se encontraron resultados",
        "sEmptyTable": "Ningún dato disponible en esta tabla",
        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
        "sInfoPostFix": "",
        "sSearch": "Buscar:",
        "sUrl": "",
        "sInfoThousands": ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
            "sFirst": "Primero",
            "sLast": "Último",
            "sNext": "Siguiente",
            "sPrevious": "Anterior"
        },
        "oAria": {
            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        },
        "buttons": {
            "copy": "Copiar",
            "colvis": "Visibilidad"
        }
    }
</script>
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2 ">
            <div class="col-sm-6">
                <h1 class="m-0  mb-3">Ingresos</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Ingresos</li>
                </ol>
            </div><!-- /.col -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        {% for producto in productos %}

                        {% endfor %}
                    </div>
                </div>
            </section>
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<div class="content-body">
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="container ">
                    <div style="text-align: right;">&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#" id="agregarProducto" class="btn btn-primary" data-toggle="modal"
                            data-target="#productoNuevo">
                            <i class="nav-icon fas fa-plus"></i>
                        </a>
                    </div>
                    <div style="padding: 10px;">
                        <table class="table table-striped table-bordered nowrap" width="100%" id="myTable7">
                            <thead>
                                <tr>
                                    <th>Id Producto</th>
                                    <th style="width: 182.889px;">Nombre del Producto</th>
                                    <th>Precio</th>
                                    <th>Cantidad</th>
                                    <th>Valor X unidad</th>
                                    <th>Fecha de Ingreso</th>
                                    <th></th>


                                </tr>
                            </thead>
                            <tbody>
                                {% for producto in productos %}
                                <tr>
                                    <th>{{producto.0}}</th>
                                    <th>{{producto.1}}</th>
                                    <th>{{producto.2}}</th>
                                    <th>{{producto.4}}</th>
                                    <th>{{producto.5}}</th>
                                    
                                    <th>{{producto.3}}</th>
                                    <th>
                                        <a href="#" id="agregarProducto" class="btn btn-primary btn btn-sm" data-toggle="modal"
                                            data-target="#cantidaNueva{{producto.0}}">
                                            <i class="nav-icon fas fa-plus"></i>
                                        </a>
                                    </th>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- /.container-fluid -->
</div>
{% for producto in productos %}
<div class="modal fade" id="cantidaNueva{{producto.0}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Producto: {{producto.1}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div id="mensajeErrorCrearUsuario"></div>
            </div>
            <div class="modal-body">
                <input type="text" value="{{producto.0}}" id="idProducto" hidden>
                <div class="form-group">
                    <label for="exampleInputEmail1">Cantidad:</label>
                    <input type="number" class="form-control" id="cantidadNueva{{producto.0}}" placeholder="Ingrese la cantidad que llego"
                        autocomplete="off" style="background-image:  auto;">
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Valor Unitario</label>
                    <input type="number" class="form-control" id="valorNueva{{producto.0}}" placeholder="Ingrese su valor por unidad"
                        autocomplete="off" style="background-image:  auto;">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="guardarCantidad{{producto.0}}">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#guardarCantidad{{producto.0}}").click(function () {
            
            cantidadNueva = $("#cantidadNueva{{producto.0}}").val()
            valorNueva = $("#valorNueva{{producto.0}}").val()
            
            idProducto ='{{producto.0}}'
            if (cantidadNueva != "" && valorNueva != "") {
                $.ajax({
                    data: {
                        idProducto,
                        cantidadNueva,
                        valorNueva
                    },
                    type: 'POST',
                    url: '/editarCantidad',
                    success: function (response) {
                        $('.modal-backdrop').remove();//eliminamos el backdrop del modal
                        $("#contenido").load(response.page);
                    }
                });
            } else {
                Swal.fire({
                    position: 'top-end',
                    icon: 'error',
                    title: "Agregue un valor porfavor",
                    showConfirmButton: false,
                    timer: 1500
                })
            }

        });
    });
</script>

{% endfor %}

<div class="modal fade" id="productoNuevo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div id="mensajeErrorCrearUsuario"></div>
            </div>
            <div class="modal-body">
               
                <div class="form-group">
                    <label for="exampleInputEmail1">Nombre del producto</label>
                    <input type="text" class="form-control" id="nombreProducto" placeholder="Ingrese la cantidad que llego"
                        autocomplete="off" style="background-image:  auto;">
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Precio:</label>
                    <input type="number" class="form-control" id="precioProducto" placeholder="Ingrese el precio en venta"
                        autocomplete="off" style="background-image:  auto;">
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Cantidad:</label>
                    <input type="number" class="form-control" id="cantidadNueva" placeholder="Ingrese la cantidad que llego"
                        autocomplete="off" style="background-image:  auto;">
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Valor Unitario</label>
                    <input type="number" class="form-control" id="valorNueva" placeholder="Ingrese su valor por unidad"
                        autocomplete="off" style="background-image:  auto;">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Imagen del Producto</label>
                    <input type="file" class="form-control" id="file" 
                        autocomplete="off" style="background-image:  auto;">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="guardarProducto">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#guardarProducto").click(function (e) {
            e.preventDefault();
            var data = new FormData();
            data.append('nombreProducto' , $("#nombreProducto").val());
            data.append('precioProducto' , $("#precioProducto").val());
            data.append('cantidadNueva' , $("#cantidadNueva").val());
            data.append('valorNueva' , $("#valorNueva").val());

            debugger

            $.each($('#file')[0].files, function (i, file) {
                data.append('file', file);
            })

            
            if (cantidadNueva != "" && nombreProducto != "" && precioProducto != ""&& valorNueva != "") {
                $.ajax({
                    data: data,
                    cache: false,
					contentType: false,
					processData: false,
                    type: 'POST',
                    url: '/nuevoProducto',
                    success: function (response) {
                        if(response.error == 'false'){
                            $('.modal-backdrop').remove();//eliminamos el backdrop del modal
                            $("#contenido").load(response.page);
                        }
                        else{
                            Swal.fire({
                                position: 'top-end',
                                icon: 'error',
                                title: response.message,
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }
                    }
                });
            } else {
                Swal.fire({
                    position: 'top-end',
                    icon: 'error',
                    title: "Agregue un valor porfavor",
                    showConfirmButton: false,
                    timer: 1500
                })
            }

        });
    });
</script>